@page
@model SoccerGame.Pages.Players.IndexModel

@{
    ViewData["Title"] = "Players";
}

<h2>Players</h2>
<p>
    <a asp-page="Create">Add New Player </a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort">
                    @Html.DisplayNameFor(model => model.Players[0].PlayerName)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Players[0].Age)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.DateSort">
                    @Html.DisplayNameFor(model => model.Players[0].Position)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Players[0].Teams)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Players)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teams)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PlayerID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PlayerID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PlayerID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>